.options-pane {
    -fx-background-color: indigo;
}

.option-button {
    -fx-background-color: white;
    -fx-text-fill: darkgrey;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.option-button:hover {
    -fx-background-color: #0056b3;
}

/* Style for section labels */
.section-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: darkgrey;
    -fx-padding: 5px;
}
