.inventory-button {
    -fx-content-display: bottom;
}

.background {
    -fx-background-color: indigo;

}

.label {
    -fx-text-fill: white;
}



/* Button styling */
.add-button {
    -fx-background-color: white;
    -fx-text-fill: darkgrey;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-pref-width: 150px;

}

/* Hover effect for Button */
.add-button:hover {
    -fx-background-color: yellow;
}

.submit-button {
    -fx-background-color: white;
    -fx-text-fill: darkgrey;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-pref-width: 150px;

}

/* Hover effect for Button */
.submit-button:hover {
    -fx-background-color: yellow;
}


/* In your CSS file */
.date-picker {
    -fx-font-size: 14px; /* Adjust the font size */
    -fx-pref-width: 150px; /* Adjust the preferred width */
    -fx-pref-height: 30px; /* Adjust the preferred height */
    -fx-background-color: black; /* Set background color */
    -fx-text-fill: indigo; /* Set text color */
}

.date-picker .arrow-button {
    -fx-background-color: darkgrey; /* Set color of the arrow button */
}

.date-picker .arrow-button:hover {
    -fx-background-color: indigo; /* Set color of the arrow button on hover */
}

.date-picker .month-year-pane {
    -fx-text-fill: indigo; /* Set color for month and year text */
}

/* In your CSS file */
.table-view {
    -fx-background-color: white; /* Background color of the table */
}

.table-view .column-header-background {
    -fx-background-color: indigo/* Background color of the column headers */
}


.table-view .table-cell {
    -fx-text-fill: white; /* Text color of cell content */
    -fx-alignment: center;

}

.table-view .table-row-cell:odd .table-cell {
    -fx-background-color: white; /* Alternate row background color */
      -fx-text-fill: black;

}

.table-view .table-row-cell:even .table-cell {
    -fx-background-color: yellow; /* Even row background color */
     -fx-text-fill: black;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: yellow; /* Background color of selected rows */
    -fx-text-fill: black;
}


.total-label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.total-box {
    -fx-background-color: indigo;
}