

/* TextField styling */
#text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Left VBox styling */
#left-box {

    -fx-background-color: indigo;
    -fx-pref-width: 150px;
    -fx-min-width: 150px;

}

/* PasswordField styling */
#password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Button styling */
#login-button {
    -fx-background-color:#FFD700;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
    -fx-pref-width: 150px;

}

/* Hover effect for Button */
#login-button:hover {
    -fx-background-color: #4B0082b3;
}

/* Define a style for the Text shape */
#welcome-text {
    -fx-fill: darkgrey; /* Set the text color */
    -fx-font-size: 20px; /* Set the font size */
    -fx-font-family: "Arial"; /* Set the font family */
    /* Add more styling properties as needed */
}